[Desktop Entry]
Name=Calculator
Name[cs]=Kalkulačka
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[es]=Calculadora
Exec=cosmic-ext-calculator %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Calculator
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
Keywords[cs]=výpočty;spočítat;
MimeType=
