[Desktop Entry]
Name=Calculator
Name[bg]=Калкулатор
Name[cs]=Kalkulačka
Name[en]=Calculator
Name[es]=Calculadora
Name[fr]=Calculatrice
Name[hu]=Számológép
Name[it]=Calculator
Name[nl]=Rekenmachine
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ro]=Calculator
Name[sv]=Kalkylator
Exec=cosmic-ext-calculator %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Calculator
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
Keywords[cs]=výpočty;spočítat;
MimeType=
