[Desktop Entry]
Name=Calculator
Name[pt]=Calculadora
Exec=cosmic-ext-calculator %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Calculator
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=
